.footer {
  background-color: #e8e8e8;
  padding: 2rem 1rem; }
  .footer-wrap {
    max-width: 114rem;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: auto 1fr auto; }

footer .block {
  display: flex;
  align-items: center; }

footer .menu--main {
  display: flex;
  justify-content: center; }

footer nav .menu {
  display: flex; }
  footer nav .menu li:not(:last-child) {
    margin-right: clamp(2rem, 2vw, 7rem); }

footer nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000; }

.ds-social-network-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; }
